{% extends "m23_app/base.html" %}

{% block content %}
<div class="pb-2 mb-2 border-bottom">
    <a class="btn btn-dark" style="color:#DAA520" href="{% url 'm23_app:new_order' %}">
        ЗАПИСАТЬСЯ
    </a>
</div>

<div>
    <h4><a class="btn btn-dark btn-sm" href="{% url 'm23_app:index' %}">Назад</a></h4>
</div>
<br/>
<div class="card bg-dark">
    <div class="card-body">
        <h5 class="card-title nav-link text-light">M23 DETAILING</h5>
        <p class="card-text nav-link text-light">Cтраница в разработке . . .</p>
    </div>
</div>
{% endblock content %}